
html {
    scroll-behavior: smooth;
}

body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.navbar {
    background-color: transparent;
    position: fixed;
    width: 100vw;
    z-index: 1;
}

.calipso {
    color: #16a2b7;
    ;
    background-color: #16a2b7;
}

.logos {
    color: white;
}


