/* Scroll */
html {
    scroll-behavior: smooth;
}

/* Estilos generales */
body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

/* Estilo Navbar */
.navbar {
    background-color: transparent;
    position: fixed;
    width: 100vw;
    z-index: 1;
}

.calipso {
    color: #16a2b7;
    ;
    background-color: #16a2b7;
}

.logos {
    color: white;
}

.foto {
    height: 10rem;
}

